/* Variables */

$blue: rgb(8,52,119);
$blue-radial-gradient: radial-gradient(circle, rgba(8,52,119,1) 0%, rgba(8,40,89,1) 100%);


/* Helpers */

.btn {
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    background-color: #f7f7f7;
    color: $blue;
    transition: 150ms ease;
}
.btn.dark {
    background-color: $blue;
    color: #f7f7f7;
}


#app {
    min-height: 100vh;
    background: $blue-radial-gradient;
    display: flex;
    flex-direction: column;

    .col-wrapper {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
        flex-grow: 1;
    }
    .col {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    .left.col svg {
        width: 100%;
        max-width: 425px;
        height: auto;

        path {
            color: #072454;
        }
    }
}