/* Import Variables */
@import '../general.scss';

#app {
    min-height: 100vh;
    background: $blue-radial-gradient;
    display: flex;
    flex-direction: column;

    .col-wrapper {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
        flex-grow: 1;
    }
    .col {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
    }
    .left.col svg {
        width: 100%;
        max-width: 425px;
        height: auto;

        path {
            color: #072454;
        }
    }
}